{{- /* Desktop header */ -}}
<header class="desktop" id="header-desktop">
    <div class="header-wrapper">
        <div class="header-title">
            <a href="{{ .Site.Home.RelPermalink }}" title="{{ .Site.Title }}" class="goo">
                {{- with .Site.Params.header.title -}}
                    {{- with .logo -}}
                        {{- dict "Src" . "Class" "logo" | partial "plugin/image.html" -}}
                    {{- end -}}
                    {{- with .pre -}}
                        <svg width="32" height="32" viewBox="0 0 1024 1024"><path fill="currentColor" d="m955.7 856l-416-720c-6.2-10.7-16.9-16-27.7-16s-21.6 5.3-27.7 16l-416 720C56 877.4 71.4 904 96 904h832c24.6 0 40-26.6 27.7-48zm-790.4-23.9L512 231.9L858.7 832H165.3zm319-474.1l-228 394c-12.3 21.3 3.1 48 27.7 48h455.8c24.7 0 40.1-26.7 27.7-48L539.7 358c-6.2-10.7-17-16-27.7-16c-10.8 0-21.6 5.3-27.7 16zm214 386H325.7L512 422l186.3 322zm-214-194.1l-57 98.4C415 669.5 430.4 696 455 696h114c24.6 0 39.9-26.5 27.7-47.7l-57-98.4c-6.1-10.6-16.9-15.9-27.7-15.9s-21.5 5.3-27.7 15.9zm57.1 98.4h-58.7l29.4-50.7l29.3 50.7z"/></svg>
                        <!-- <span class="header-title-pre">{{ . | safeHTML }}<svg width="32" height="32" viewBox="0 0 1024 1024"><path fill="currentColor" d="M879.5 470.4c-.3-27-.4-54.2-.5-81.3h-80.8c-.3 27-.5 54.1-.7 81.3c-27.2.1-54.2.3-81.2.6v80.9c27 .3 54.2.5 81.2.8c.3 27 .3 54.1.5 81.1h80.9c.1-27 .3-54.1.5-81.3c27.2-.3 54.2-.4 81.2-.7v-80.9c-26.9-.2-54.1-.2-81.1-.5zm-530 .4c-.1 32.3 0 64.7.1 97c54.2 1.8 108.5 1 162.7 1.8c-23.9 120.3-187.4 159.3-273.9 80.7c-89-68.9-84.8-220 7.7-284c64.7-51.6 156.6-38.9 221.3 5.8c25.4-23.5 49.2-48.7 72.1-74.7c-53.8-42.9-119.8-73.5-190-70.3c-146.6-4.9-281.3 123.5-283.7 270.2c-9.4 119.9 69.4 237.4 180.6 279.8c110.8 42.7 252.9 13.6 323.7-86c46.7-62.9 56.8-143.9 51.3-220c-90.7-.7-181.3-.6-271.9-.3z"/></svg></span> -->
                    {{- end -}}
                    {{- if .typeit -}}
                        {{- $id := dict "Content" .name "Scratch" $.Scratch | partial "function/id.html" -}}
                        <span id="{{ $id }}" class="typeit"></span>
                        {{- dict $id (slice $id) | dict "typeitMap" | merge ($.Scratch.Get "this") | $.Scratch.Set "this" -}}
                    {{- else -}}
                        {{- .name -}}
                    {{- end -}}
                    {{- with .post -}}
                        <span class="header-title-post">{{ . | safeHTML }}</span>
                    {{- end -}}
                {{- else -}}
                    {{- .Site.Title -}}
                {{- end -}}
            </a>
        </div>
        <div class="menu">
            <div class="menu-inner">
                {{- range .Site.Menus.main -}}
                    {{- $url := .URL | relLangURL -}}
                    {{- with .Page -}}
                        {{- $url = .RelPermalink -}}
                    {{- end -}}
                    <a class="menu-item{{ if $.IsMenuCurrent `main` . | or ($.HasMenuCurrent `main` .) | or (eq $.RelPermalink $url) }} active{{ end }}" href="{{ $url }}"{{ with .Title }} title="{{ . }}"{{ end }}{{ if (urls.Parse $url).Host }} rel="noopener noreffer" target="_blank"{{ end }}>
                        {{- .Pre | safeHTML }} {{ .Name }} {{ .Post | safeHTML -}}
                    </a>
                {{- end -}}
                {{- if .Site.Menus.main -}}
                    <span class="menu-item delimiter"></span>
                {{- end -}}
                {{- if .Site.IsMultiLingual -}}
                    <a href="javascript:void(0);" class="menu-item language" title="{{ T "selectLanguage" }}">
                        {{- .Language.LanguageName -}}
                        <i class="fas fa-chevron-right fa-fw" aria-hidden="true"></i>
                        <select class="language-select" id="language-select-desktop" onchange="location = this.value;">
                            {{- if eq .Kind "404" -}}
                                {{- /* https://github.com/dillonzq/LoveIt/issues/378 */ -}}
                                {{- range .Sites -}}
                                    {{- $link := printf "%v/404.html" .LanguagePrefix -}}
                                    <option value="{{ $link }}"{{ if eq . $.Site }} selected{{ end }}>
                                        {{- .Language.LanguageName -}}
                                    </option>
                                {{- end -}}
                            {{- else -}}
                                {{- range .AllTranslations -}}
                                    <option value="{{ .RelPermalink }}"{{ if eq .Lang $.Lang }} selected{{ end }}>
                                        {{- .Language.LanguageName -}}
                                    </option>
                                {{- end -}}
                            {{- end -}}
                        </select>
                    </a>
                {{- end -}}
                {{- if .Site.Params.search.enable -}}
                    <span class="menu-item search" id="search-desktop">
                        <input type="text" placeholder="{{ .Site.Params.search.placeholder | default (T `searchPlaceholder`) }}" id="search-input-desktop">
                        <a href="javascript:void(0);" class="search-button search-toggle" id="search-toggle-desktop" title="{{ T `search` }}">
                            <i class="fas fa-search fa-fw" aria-hidden="true"></i>
                        </a>
                        <a href="javascript:void(0);" class="search-button search-clear" id="search-clear-desktop" title="{{ T `clear` }}">
                            <i class="fas fa-times-circle fa-fw" aria-hidden="true"></i>
                        </a>
                        <span class="search-button search-loading" id="search-loading-desktop">
                            <i class="fas fa-spinner fa-fw fa-spin" aria-hidden="true"></i>
                        </span>
                    </span>
                {{- end -}}
                <a href="javascript:void(0);" class="menu-item theme-switch" title="{{ T "switchTheme" }}">
                    <i class="fas fa-adjust fa-fw" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</header>

{{- /* Mobile header */ -}}
<header class="mobile" id="header-mobile">
    <div class="header-container">
        <div class="header-wrapper">
            <div class="header-title">
                <a href="{{ .Site.Home.RelPermalink }}" title="{{ .Site.Title }}">
                    {{- with .Site.Params.header.title -}}
                        {{- with .logo -}}
                            {{- dict "Src" . "Class" "logo" | partial "plugin/image.html" -}}
                        {{- end -}}
                        {{- with .pre -}}
                            <span class="header-title-pre">{{ . | safeHTML }}</span>
                        {{- end -}}
                        {{- if .typeit -}}
                            {{- $id := dict "Content" .name "Scratch" $.Scratch | partial "function/id.html" -}}
                            <span id="{{ $id }}" class="typeit"></span>
                            {{- dict $id (slice $id) | dict "typeitMap" | merge ($.Scratch.Get "this") | $.Scratch.Set "this" -}}
                        {{- else -}}
                            {{- .name -}}
                        {{- end -}}
                        {{- with .post -}}
                            <span class="header-title-post">{{ . | safeHTML }}</span>
                        {{- end -}}
                    {{- else -}}
                        {{- .Site.Title -}}
                    {{- end -}}
                </a>
            </div>
            <div class="menu-toggle" id="menu-toggle-mobile">
                <span></span><span></span><span></span>
            </div>
        </div>
        <div class="menu" id="menu-mobile">
            {{- if .Site.Params.search.enable -}}
                <div class="search-wrapper">
                    <div class="search mobile" id="search-mobile">
                        <input type="text" placeholder="{{ .Site.Params.search.placeholder | default (T `searchPlaceholder`) }}" id="search-input-mobile">
                        <a href="javascript:void(0);" class="search-button search-toggle" id="search-toggle-mobile" title="{{ T `search` }}">
                            <i class="fas fa-search fa-fw" aria-hidden="true"></i>
                        </a>
                        <a href="javascript:void(0);" class="search-button search-clear" id="search-clear-mobile" title="{{ T `clear` }}">
                            <i class="fas fa-times-circle fa-fw" aria-hidden="true"></i>
                        </a>
                        <span class="search-button search-loading" id="search-loading-mobile">
                            <i class="fas fa-spinner fa-fw fa-spin" aria-hidden="true"></i>
                        </span>
                    </div>
                    <a href="javascript:void(0);" class="search-cancel" id="search-cancel-mobile">
                        {{ T `cancel` }}
                    </a>
                </div>
            {{- end -}}
            {{- $currentPage := . -}}
            {{- range .Site.Menus.main -}}
                {{- $url := .URL | relLangURL -}}
                {{- with .Page -}}
                    {{- $url = .RelPermalink -}}
                {{- end -}}
                <a class="menu-item" href="{{ $url }}" title="{{ .Title }}"{{ if (urls.Parse $url).Host }} rel="noopener noreffer" target="_blank"{{ end }}>
                    {{- .Pre | safeHTML }}{{ .Name }}{{ .Post | safeHTML -}}
                </a>
            {{- end -}}
            <a href="javascript:void(0);" class="menu-item theme-switch" title="{{ T "switchTheme" }}">
                <i class="fas fa-adjust fa-fw" aria-hidden="true"></i>
            </a>
            {{- if .Site.IsMultiLingual -}}
                <a href="javascript:void(0);" class="menu-item" title="{{ T "selectLanguage" }}">
                    {{- .Language.LanguageName -}}
                    <i class="fas fa-chevron-right fa-fw" aria-hidden="true"></i>
                    <select class="language-select" onchange="location = this.value;">
                        {{- if eq .Kind "404" -}}
                            {{- /* https://github.com/dillonzq/LoveIt/issues/378 */ -}}
                            {{- range .Sites -}}
                                {{- $link := printf "%v/404.html" .LanguagePrefix -}}
                                <option value="{{ $link }}"{{ if eq . $.Site }} selected{{ end }}>
                                    {{- .Language.LanguageName -}}
                                </option>
                            {{- end -}}
                        {{- else -}}
                            {{- range .AllTranslations -}}
                                <option value="{{ .RelPermalink }}"{{ if eq .Lang $.Lang }} selected{{ end }}>
                                    {{- .Language.LanguageName -}}
                                </option>
                            {{- end -}}
                        {{- end -}}
                    </select>
                </a>
            {{- end -}}
        </div>
    </div>
</header>

{{- if .Site.Params.search.enable -}}
    <div class="search-dropdown desktop">
        <div id="search-dropdown-desktop"></div>
    </div>
    <div class="search-dropdown mobile">
        <div id="search-dropdown-mobile"></div>
    </div>
{{- end -}}
